@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
:root {
  --font: "Kanit", sans-serif;
  --dark-green: #183b25;
  --yellow: #f7bb27;
  --light-green: #38b45b;
  --blue: #687eff;
  --white: #ffffff;
  --brown: #7a5000;
  --margin: 10rem;
  --black: #000000;
}
.heading {
  font-size: 3rem;
  color: var(--yellow);
}
.text-styling {
  font-size: 1.5rem;
  color: var(--light-green);
}
.body-content {
  padding-top: 5rem;
}
.background-cover {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  transition: all 250ms ease;
  scroll-behavior: smooth;
  background-color: var(--white);
  background: radial-gradient(
      circle,
      transparent 20%,
      var(--light-green) 20%,
      var(--light-green) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        var(--light-green) 20%,
        var(--light-green) 80%,
        transparent 80%,
        transparent
      )
      72.5px 72.5px,
    linear-gradient(
        var(--white) 5.800000000000001px,
        transparent 5.800000000000001px
      )
      0 -2.9000000000000004px,
    linear-gradient(
        90deg,
        var(--white) 5.800000000000001px,
        var(--light-green) 5.800000000000001px
      ) -2.9000000000000004px 0;
  background-size: 145px 145px, 145px 145px, 72.5px 72.5px, 72.5px 72.5px;
}
/* Navigation Styling */
.nav-link {
  text-decoration: none;
  color: var(--light-green);
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: width 250ms ease;
  background: var(--white);
}
.nav-link:hover::before {
  width: 100%;
}
*:has(.nav-link) {
  position: relative !important;
}
.header {
  position: fixed !important;
  max-height: 5rem;
  z-index: 99999;
  width: 100%;
  display: flex;
  background: var(--dark-green);
}
.nav-bar {
  padding: 1rem max(1rem, 10%);
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--light-green);
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
  list-style: none;
  > li {
    position: relative;
  }
  > li:hover {
    opacity: 0.7;
  }
}

/* Article Stylings */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 25px;
  background: var(--dark-green);
  color: var(--light-green);
  border: 3px solid var(--yellow);
}
.search-bar:focus {
  outline: none !important;
}
.articles-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-container {
  text-align: center;
  margin: 5rem var(--margin);
  background: var(--yellow);
  z-index: 10;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.article-image {
  max-width: 100%;
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}
.article-title {
  font-size: 2rem;
  position: relative;
  color: var(--blue);
}
.article-text,
.article-title,
.article-image:hover {
  transition: all 250ms ease;
}
.article-title:hover,
.article-text:hover,
.article-image:hover {
  color: var(--dark-green);
  opacity: 0.8;
}
.article-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--dark-green);
  left: 0;
  bottom: 0;
}
.article-text {
  color: var(--blue);
  font-size: 1.25rem;
}
/* Home Page Styling */
.motto {
  background: var(--dark-green);
  padding: 1rem;
  color: var(--light-green);
  font-size: 1.75rem;
  width: 50%;
  top: 2.5%;
  right: 5%;
  position: absolute;
  border-radius: 10px;
  border: 4px solid var(--brown);
}
.welcome-page-container {
  position: relative;
  display: flex;
  max-width: 100%;
  padding: 0 10%;
  flex-direction: column;
  align-items: center;
  #welcome {
    border: 5px solid var(--dark-green);
    background-image: url(./assets/environmental-protection-326923_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(100% + 10% * 2);
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    > h1 {
      font-size: 3.75rem;
      text-shadow: 0 0 5px var(--dark-green);
    }
    > p {
      width: 80% !important;
      background: var(--dark-green);
      font-size: 1.5rem;
      padding: 1rem;
      box-shadow: 0 0 5px 2px var(--light-green);
      color: var(--light-green);
    }
  }
  #our-mission {
    margin: 10% 0;
    background: var(--white);
    width: 100%;
    min-height: 50vh;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1rem 1fr 1fr 1rem;
    > h1 {
      grid-column: 2/ 3;
      display: flex;
      align-self: flex-end;
    }
    > p {
      padding: 1rem 0;
      grid-column: 2/3;
    }
    > img {
      display: flex;
      justify-self: center;
      align-self: center;
      object-fit: cover;
      grid-column: 3/ 5;
      grid-row: 1 / 3;
      width: 90%;
      height: 90%;
    }
  }
}
/* Main Page Article Styling */
.double-element {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.main-article-container {
  margin: var(--margin);
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  gap: 2.5rem;
  color: var(--black);
  > h1 {
    font-size: 3rem;
  }
}
.main-article-introduction {
  align-self: center;
  font-size: 1.5rem;
  text-align: justify;
}
.main-article-img {
  width: 100%;
  min-height: 300px;
  background: url("https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-article-title {
  font-size: 2rem;
}
.main-article-text {
  color: var(--dark-green);
  > * {
    text-align: justify;
  }
  font-size: 1.25rem;
}
.main-article-list::before {
  content: "";
  width: 100%;
  height: 2%;
  position: absolute;
  background: var(--dark-green);
}
.main-article-list::after {
  content: "";
  width: 100%;
  height: 2%;
  position: absolute;
  background: var(--dark-green);
}
.main-article-list {
  position: relative;
  font-size: 2rem;
  color: var(--dark-green);
  list-style: none;
}

/* Mobile and Tablet Mode */
@media (max-width: 40rem) {
  .main-article-text {
    font-size: 1rem;
    & h1 {
      font-size: 1.25rem !important;
      text-align: center;
    }
  }
  .main-article-list {
    font-size: 1rem;
  }
  .double-element {
    grid-template-columns: 1fr;
  }
  .main-article-container {
    gap: 1rem;
    margin: 1rem;
    > h1 {
      font-size: 1.5rem;
    }
  }
  .main-article-introduction {
    font-size: 1rem;
  }
  .motto {
    font-size: 1rem;
  }
  .nav-list {
    font-size: 0.7rem;
    gap: 1rem;
  }
  .article-container:first-child {
    margin: 5rem 1rem 1rem 1rem;
  }
  .article-container {
    margin: 1rem 1rem;
  }
  .welcome-page-container {
    font-size: 1rem !important;
    #welcome {
      > h1 {
        font-size: 2.5rem;
      }
    }
    #our-mission {
      grid-template-columns: 1rem 1fr 1rem;
      > img {
        grid-column: 1 / 4;
        grid-row: 3/4;
      }
      > h1 {
        font-size: 2.5rem;
      }
      > p {
        font-size: 1.25rem;
      }
    }
  }
}
@media (max-width: 70rem) and (min-width: 40rem) {
  .main-article-container {
    margin: 5%;
  }
  .main-article-text {
    font-size: 1.25rem;
    & h1 {
      font-size: 1.75rem;
      text-align: center;
    }
  }
  .main-article-list {
    font-size: 1.5rem;
  }
  .double-element {
    grid-template-columns: 1fr;
  }
  .main-article-container {
    gap: 1rem;
    margin: 1rem;
    > h1 {
      font-size: 2.5rem;
    }
  }
  .main-article-introduction {
    font-size: 1.25rem;
  }
  /**/
  .motto {
    font-size: 1.5rem;
  }
  .nav-bar {
    padding: 1rem !important;
  }
  .nav-list {
    font-size: 1.1rem;
    gap: 0 1rem;
  }
  .article-container:first-child {
    margin: 5rem 1rem 1rem 1rem;
  }
  .article-container {
    margin: 1rem 1rem;
  }
  .welcome-page-container {
    #welcome {
      > h1 {
        font-size: 3rem;
      }
    }
    #our-mission {
      grid-template-columns: 1rem 1fr 1rem;
      > img {
        grid-column: 1 / 4;
        grid-row: 3/4;
      }
      > h1 {
        font-size: 2.5rem;
      }
      > p {
        font-size: 1.25rem;
      }
    }
  }
}
