@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
:root {
  --font: "Kanit", sans-serif;
  --dark-green: #183b25;
  --yellow: #f7bb27;
  --light-green: #38b45b;
  --blue: #687eff;
  --white: #fbfcf6;
  --brown: #7a5000;
  --margin: 10rem;
}
.heading {
  font-size: 3rem;
  color: var(--yellow);
}
.text-styling {
  font-size: 1.5rem;
  color: var(--light-green);
}
.body-content {
  padding-top: 100px;
}
.background-cover {
  width: 100%;

  min-height: 100vh;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
body {
  scroll-behavior: smooth;
  background-image: url(./assets/environmental-protection-326923_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  background-position: center;
}
/* Navigation Styling */
.nav-link {
  text-decoration: none;
  color: var(--light-green);
}
.nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: width 250ms ease;
  background: white;
}
.nav-link:hover::before {
  width: 100%;
}
*:has(.nav-link) {
  position: relative !important;
}
.header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  display: flex;
  background: var(--dark-green);
}
.nav-bar {
  padding: 1rem max(1rem, 10%);
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--light-green);
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
  list-style: none;
  > li {
    position: relative;
  }
  > li:hover {
    opacity: 0.7;
  }
}

/* Article Stylings */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-radius: 25px;
  background: var(--dark-green);
  color: var(--light-green);
  border: 3px solid var(--yellow);
}
.search-bar:focus {
  outline: none !important;
}
.articles-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-container {
  text-align: center;
  margin: 5rem var(--margin);
  background: var(--yellow);
  z-index: 10;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.article-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.article-title {
  font-size: 2rem;
  position: relative;
  color: var(--blue);
}
.article-text,
.article-title,
.article-image:hover {
  transition: all 250ms ease;
}
.article-title:hover,
.article-text:hover,
.article-image:hover {
  color: var(--light-green);
  opacity: 0.8;
}
.article-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--dark-green);
  left: 0;
  bottom: 0;
}
.article-text {
  color: var(--blue);
  font-size: 1.25rem;
}
/* Home Page Styling */
.motto {
  background: var(--dark-green);
  padding: 1rem;
  color: var(--light-green);
  font-size: 1.75rem;
  width: 50%;
  right: 10%;
  position: absolute;
  border-radius: 10px;
  border: 5px solid var(--brown);
  display: flex;
}
.welcome-page-container {
  display: flex;
  padding: 0 10%;
  flex-direction: column;
  align-items: center;
  #welcome {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    > h1 {
      font-size: 3.75rem;
    }
    > p {
      font-size: 1.5rem;
      padding: 1rem;
      box-shadow: 0 0 5px 2px var(--light-green);
      color: var(--light-green);
    }
  }
  #our-mission {
    margin: 0 0 10% 0;
    background: var(--white);
    width: (100% + 100px);
    min-height: 50vh;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1rem 1fr 1fr 1rem;
    > h1 {
      grid-column: 2/ 3;
      display: flex;
      align-self: flex-end;
    }
    > p {
      padding: 1rem 0;
      grid-column: 2/3;
    }
    > img {
      display: flex;
      justify-self: center;
      align-self: center;
      object-fit: cover;
      grid-column: 3/ 5;
      grid-row: 1 / 3;
      width: 90%;
      height: 90%;
    }
  }
}
@media (max-width: 40rem) {
  .motto {
    font-size: 1rem;
  }
  .nav-list {
    font-size: 0.75rem;
    gap: 1rem;
  }
  .article-container:first-child {
    margin: 5rem 1rem 1rem 1rem;
  }
  .article-container {
    margin: 1rem 1rem;
  }
  .welcome-page-container {
    font-size: 1rem !important;
    #welcome {
      > h1 {
        font-size: 2.5rem;
      }
    }
    #our-mission {
      grid-template-columns: 1rem 1fr 1rem;
      > img {
        grid-column: 1 / 4;
        grid-row: 3/4;
      }
      > h1 {
        font-size: 2.5rem;
      }
      > p {
        font-size: 1.25rem;
      }
    }
  }
}
